<footer class="page-footer bg-dark font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-white text-center py-3">© 2020 Copyright:
    <a> Sebastian Vera</a>
  </div>
  <!-- Copyright -->

</footer>